.home{
    background: linear-gradient(skyblue, lightblue, lightblue, aqua)  ;
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(1, 1, 63);
}
.means{
    animation: anim 6s steps(50, end) infinite, blink-caret 2s infinite  ;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap ;
    width: 0;
    display: inline-block;
    max-width: fit-content;
}
.slogan{
    animation: anim 6s steps(70, end) infinite, blink-caret 2s infinite  ;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap ;
    width: 0;
    display: inline-block;
    max-width: fit-content;
}

@keyframes anim {
    0%{
        width: 0;
        
    }
    50%{
        
        width: 100%;
    }
    100%{
        width: 0;
    }
}
@keyframes blink-caret {
    0%{
        border-color: transparent;
    }
    50%{
        border-color: white;
    }
    100%{
        border-color: transparent;
    }
}
.ship{
    bottom: 0;
}
